.myBtn1 {
  background-color: green;
}

.myBtn2 {
  background-color: green;
}

.myDiv {
  background-color: bisque;
}
.myDiv button {
  background-color: brown;
}
.myDiv button:hover {
  background-color: black;
}

.cl1 {
  background-color: grey;
  color: yellow;
}

.cl2 {
  background-color: blue;
}
