@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}

//for scss
@section Style{
 <link rel="stylesheet" href="~/scss/home.css" />
}
//for scss

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


//for scss
<div class="cl1">
    <button>
        Click me!
    </button>
</div>
//for scss
