@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout-2";
}

@model Model2 


<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@section Scripts{
    <script>
        console.log($("h1"));
    </script>
}
