@{
    ViewData["Title"] = "Home Page";
}

//for SCSS

@{
    Layout = "_Layout";
}


@section Style{
     <link rel="stylesheet" href="~/SCSS/home.css" />
}
//for SCSS

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



//for SCSS

<div>

    <button class="class1">
        Button1
    </button>

    <button class="class2">
        Button2
    </button>

</div>

//For SCSS